.button-exit{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-with: 0;
    -fx-cursor: hand;
}

.button-register {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-cursor: hand;
}